@page
@model KetabBaz.Web.Pages.Account.ForgetPasswordModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "فراموشی رمز عبور";
}

<h1 class="text-center fs-3">@ViewData["Title"]</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="ForgetPassword.Email" class="form-label"></label>
        <input asp-for="ForgetPassword.Email" class="form-control" />
        <span asp-validation-for="ForgetPassword.Email" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <button type="submit" class="btn btn-success mb-3">ثبت</button>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}