@page
@model KetabBaz.Web.Pages.Account.ForgetPasswordConfirmationModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="text-center py-3">
    <h1 class="fs-4 mb-3">جهت بازیابی رمز عبور یک لینک به ایمیل شما ارسال شد</h1>
    <a class="btn btn-primary" asp-page="/Index">بازگشت به صفحه اصلی</a>
</div>