@page
@model KetabBaz.Web.Pages.Account.ResetPasswordConfirmationModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "بازنشانی رمز عبور";
}

<div class="text-center py-3">
    <p>
        رمز عبور شما با موفقیت بازنشانی شد <a asp-page="Login" class="text-decoration-underline-hover">برای ورود کلیک </a> کنید
    </p>
</div>