@page
@model KetabBaz.Web.Pages.Account.SuccessRegistrationModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ثبت نام موفقیت آمیز";
}

<div class="text-center py-3">
    <h1 class="text-center fs-3">@ViewData["Title"]</h1>
    <p>
        لطفا برای تایید حساب کاربری، ایمیل خود را چک کنید.
    </p>
</div>