@page
@model KetabBaz.Web.Pages.Account.TwoStepLoginModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ورود دو مرحله ای";
}

<h1 class="text-center fs-3">@ViewData["Title"]</h1>
<p class="text-center">یک کد به ایمیل شما ارسال شد</p>
<form method="post" asp-route-returnUrl="@ViewData["returnUrl"]">
    <input type="hidden" asp-for="TwoStepLogin.RememberMe" value="@ViewData[nameof(Model.TwoStepLogin.RememberMe)]"/>
    <div class="mb-3">
        <label asp-for="TwoStepLogin.TwoFactorCode" class="form-label"></label>
        <input asp-for="TwoStepLogin.TwoFactorCode" class="form-control" />
        <span asp-validation-for="TwoStepLogin.TwoFactorCode" class="text-danger"></span>
        <span asp-validation-for="TwoStepLogin.RememberMe" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <button type="submit" class="btn btn-success mb-3">ثبت</button>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
