@if (User.Identity.IsAuthenticated)
{
    <li class="mb-1 nav-item col-12 col-lg-auto dropdown">
        <a class="nav-link dropdown-toggle col-6 col-lg-auto" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            حساب کاربری
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-page="/Account/Index">نمایش حساب کاربری</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">فهرست مورد علاقه</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-page="/Account/Logout">خروج</a>
            </li>
        </ul>
    </li>
}