@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}


<vc:carousel></vc:carousel>

<div class="my-2">
    <div class="row text-center justify-content-around">
        <div class="col-5 col-md-2 shadow p-3 mb-3 bg-body rounded">
            <div class="mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </div>
            ارسال رایگان
        </div>
        <div class="col-5 col-md-2 shadow p-3 mb-3 bg-body rounded">
            <div class="mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                    <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                    <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
                </svg>
            </div>
            پرداخت در محل
        </div>
        <div class="col-5 col-md-2 shadow p-3 mb-3 bg-body rounded">
            <div class="mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                    <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z" />
                </svg>
            </div>
            تحویل سریع
        </div>
        <div class="col-5 col-md-2 shadow p-3 mb-3 bg-body rounded">
            <div class="mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                    <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                </svg>
            </div>
            سلامت فیزیکی
        </div>
    </div>
</div>

@for (var i = 0; i < Model.Slideshows.Count(); i++)
{
    <partial name="_BookSlideshow" model="Model.Slideshows[i]" />
    @if (i + 1 < Model.Slideshows.Count())
    {
        <partial name="_BannerList" model="Model.Banners.Skip(i * 4).Take(4)" />
    }
}

@section Scripts {
    <script src="~/js/flickity.pkgd.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            var slideshows = document.getElementsByClassName("slideshow");
            Array.from(slideshows).forEach(function(slideshow) {
                var query = slideshow.getAttribute('data-query');
                fetch(`api/books?${query}`)
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        var books = data.map(book => `
                                            <div class="carousel-cell">
                                                <div style="width: 15rem">
                                                    <div class="px-2 mw-100">
                                                        <div class="card text-center border-0">
                                                            <img src="${book.imageUrl}" class="card-img-top"
                                                                alt="${book.translatedTitle}" style="height: 22rem">
                                                            <div class="card-body">
                                                                <h6 class="card-title">
                                                                    ${book.translatedTitle}
                                                                </h6>
                                                                <a href="/books/${book.id}" class="stretched-link"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    `).join('');
                        slideshow.innerHTML = books;
                        var flkty = new Flickity(`#${slideshow.id}`, {
                            cellAlign: 'right',
                            contain: true,
                            pageDots: false,
                            rightToLeft: true
                        });
                    });
            });
        });
    </script>
}


